


// ---- profile photo ----
.profile-div-edi-form{
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 100px;
    height: 80px;
    width: 80px;
}

.profile-photo-edit-form {
   height: 80px;
   width: auto;
}