.home-page {
    position: relative;
    top: 10%;
    left: 50%;
    font-size: 30px;
    font-family: 'Questrial', sans-serif;
    font-weight: 500;

}

.home-window {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
}