.home-page {
    font-size: 53px;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 63px;
}

.home-window {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}