.search-bar-icon{
    height: 16px;
    width: 16px;

    justify-self: center;
    align-self: center;
    position: relative;
    left: 41px;

}

div.search-bar-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: stretch;
    width: 2000px;
}