.image-show-pin{
    height: 200px;
    width: auto;
    border-radius: 16px;

}

.main-div-pin-show{
    border: black 2px solid;
    display: flex;
    
}

.right-half-pin-show{
    border: red solid 2px;
}

.top-bar-right-show-pin{
    border: greenyellow solid 2px;
}

.url-link-tag{
    border: solid blue 2px;
}