$page-width: 100vh;
$page-hight: 100vh;

.profile-photo {
   height: 120px;
   width: auto;
}

div.profile-div {
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 100px;
    height: 120px;
    width: 120px;
}

.profile-header {
    height: fit-content;
    width: 488;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
    font-family: 'Questrial', sans-serif;
}

.show-page-box-1 {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    justify-content: center;
}

.username-on-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Questrial', sans-serif;
    font-weight: 550;
    color: black;
    height: 42px;
    font-size: 26px;
    
    padding-block: 25px;
}

.email-on-profile {
    padding-bottom: 10px;
    font-weight: 100;
}



// -- main edit bar container --

.edit-bar-profile-page{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.left-box-edit-bar{
    display: flex;
    flex-direction: row;
    padding: 7px;
    margin-left: 10px;
}

.righ-box-edit-bar{ 
    display: flex;
    flex-direction: row;
    padding: 7px;
    margin-right: 10px;
}

