.boards-grid-area-for-pins {
    border-color: red solid 3px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    flex-grow: 0;
    // overflow-y: scroll;
    height: fit-content;
}
