

#logo-share-icon{
  height: 36px;
  width: auto;
}

.boards-grid-area {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    // border-color: red;
    // border-style: solid;
    // border-width: 3px;
    flex-direction: row;
    margin-inline: 80px;
    flex-grow: 0;
    overflow-y: scroll;

}

.board-display-card{
    // border-style: solid;
    // border-width: 2px;
    // border-color: green;
    height: 232px;
    width: 252px;
    // padding: 5px;
    // border-radius: 20px;
    // padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    // overflow-y: hidden;
    // overflow-x: hidden;
    // border-radius: 20px;

}

.image-section-board{
    // position: relative;
    display: flex;
    flex-direction: row;
    // left: -6px;
    // top: -6px;
    width: inherit;
    height: 73%;
                    border-radius: 20px;
    // border-style: solid;
    // border-width: 1px;
    // border-color: rgb(4, 19, 77);

    overflow-x: hidden;
    overflow-y: hidden;
    // &:hover{
    //     filter: brightness(0.9);
    // }
}

.title-pin-section{
    width: 240px;
    height: 42;
    // border-style: solid;
    // border-width: 1px;
    // border-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-grow: 1;

}

.board-title{
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-left: 7px;
}

.pin-num-board{
    display: inline;
    padding-right: 7px;
    padding-left: 7px;
}

.pins-days{

    font-weight: 350;
    color: black;
    font-size: 14px;    
}

.days-number{
    display: inline;
    font-weight: 200;
    color: gray;
    font-size: 13px;
}


.large-image-onboard{
    height: 100%;
    width: 165px;
                                        // border-style: solid;
                                        // border-width: 1px;
                                        // border-right-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
                                        // border-radius: 0px 0px 0px 20px;
}


.image-board-1{
    width: auto;
    height: inherit;
                                            // border-right-color: white;
                                            // border-right: solid;
                                            // border-right: 1px;
}

.other-two-images{
    // position: relative;
    // top: 0px;
    // left: 0px;
    height: 100%;
    width: 80px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: white;
                                            // border-style: solid;
                                            // border-width: 1px;
                                            // border-color: white;
    background-color:  rgb(216, 216, 216);
                                                // border-radius: 0px 0px 20px 0px;
    // overflow-y: hidden;
    // overflow-x: hidden;
}


.top-box-123{
    // position: relative;
    border: none;
    // left: 20px;
    // display: flex;
    // align-self: flex-end;
    width: auto;
    height: 50%;
    // border-style: solid;
    // border-width: 1px;
    // border-bottom-color: white;
    // overflow-y: hidden;
    // overflow-x: hidden;
}



.image-board-2{
    height: 100%;
    width: auto;
    border: none;

}

.image-board-3{
    height: 100%;
    width: auto;
}


.bottom-box{
    height: 50%;
    width: auto;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: white;
}

// ------------------ edit icon on board tiles -----------

.logo-on-logged-in-header-board-tile{
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    left: 211px;
    top: 129px;
    z-index: 7;
  &:hover{
    cursor: pointer;
    background-color: rgb(241, 241, 241);
  }
}

img#logo-edit-board{

  height: 14px;
  width: auto;

}


div.outer-div-tile-edit{
    position: absolute;
    width: inherit;
    height: inherit;
    // pointer-events: none;

}

div.dont-show-me{

}
// ------------------ edit icon on board tiles -----------